body {
  margin: 0px;
  padding: 0px;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}



.main-heading {
  font-size: 26px;
}

.sub-script {
  font-size: 13px;
}

.inner-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 15%;
  width: 50vw;
  height: 100vh;

}

.outer-div {
  display: flex;
}

.input {
  border: 2px solid transparent;
  height: 3em;
  padding-left: 0.8em;
  outline: none;
  font-size: 15px;
  overflow: hidden;
  background-color: #ede6e6;
  border-radius: 10px;
  transition: all 0.5s;
  width: 50%;
  margin: 2% 0% 2% 0%;
}

.input:hover,
.input:focus {
  border: 2px solid #108A00;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.white-coloured {
  color: white;
}

.btn {
  height: 3em;
  color: white;
  font-size: 15px;
  background-color: #108A00;
  border-radius: 10px;
  transition: all 0.5s;
  width: 52%;
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
}

.btn:hover {

  transition: 0.3s ease-in-out;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.center {
  margin-bottom: 20px;
}

.sign-in-div {
  padding-bottom: 3%;
}

.akhuwat-logo-div {
  display: flex;
  justify-content: Left;
  align-items: center;
  margin: 0px 5px 0px 5px;
  /* padding-left: 15px; */
  padding-bottom: -5px;

}

.akhuwat-logo {
  height: 20px;
  height: 20px;
}

a {
  padding: 2% 0% 2% 0%;
  font-weight: bold;
  color: #108A00;
}

.sub-script {
  color: #108A00;
  font-size: 15px;
}

.label {
  font-weight: bold;
  font-size: 15px;
}

.akhuwat-logo {
  height: 40px;
  width: 40px;
}

@media (max-width: 991px) {
  .input {
    width: 85%;
    margin: 2% 0;
    font-size: 14px;
  }
}


@media (max-width: 991px) {
  .label {
    font-size: 14px;
    font-weight: bold;
  }
}

@media (max-width:991px) {
  .sub-script {
    font-size: 12px;
    padding: 0;
  }
}

@media (max-width:991px) {
  .main-heading {
    font-size: 21px;
  }
}

@media (max-width:991px) {
  .btn {
    font-size: 14px;
    width: 90%;
  }


}

@media (max-width:991px) {
  a {
    font-size: 14px;
  }
}

/* @media (max-width:991) {
  .akhuwat-logo {
    height: 12px;
    width: 19px;
  }
} */


/* NewCSS */



.outer-div {
  display: flex;
  height: 100vh;
  flex-direction: column-reverse;
}


.main-left-div {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-right-img {
  position: relative;
  width: 100%;
  height: 25vh;

}

.main-right-img>h1 {
  z-index: 2;
}

.main-right-img:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  z-index: 0;
  background-image: url("./Resources/AKhuwat-University-Kasur.jpg");
  background-size: 340px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(34, 32, 33, 1);
}



.main-right-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 41%;
  height: 100%;
  background: rgb(80, 80, 80);
  z-index: 0;
  background: linear-gradient(90deg, rgba(80, 80, 80, 1) 0%, rgba(34, 32, 33, 1) 100%);
}


/* FOR PC SCREEN */

@media only screen and (min-width: 991px) {
  .outer-div {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }

  .main-right-img {
    height: 100vh;
    width: 800px;
    background-color: #150c96;
    background-image: url("./Resources/test.jpg");
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.411);
    /* background-position: top right; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    /* justify-content: center; */

  }

  .main-right-img>h1 {
    color: rgb(255, 255, 255);
    font-size: 3.7rem;
    font-weight: 700;
    padding: 0 10px 0 50px;

  }

  .main-left-div {
    /* width: 70%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-right-img:before {
    display: none;
  }

  .main-right-img:after {
    display: none;

  }

}