<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../public/css/sdashboard.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="../Resources/akhuwat_logo-removebg-preview.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="side-bar">
        <div class="side-bar-item1">
            <img src="../Resources/sdashboard-logo-1.webp" alt="" class="logo">
            <h4 class="poppins-semibold side-bar-heading">Student Activities</h4>
        </div>

        <div class="side-bar-item2">
            <img src="../Resources/icons8-dashboard-layout-48.png" alt="" class="logo">
            <h5 class="poppins-regular side-bar-heading">Overview</h5>
        </div>
        <div class="side-bar-item3">
            <img src="../Resources/icons8-attendance-30.png" alt="" class="logo">
            <h5 class="poppins-regular side-bar-heading">Attendance</h5>
        </div>
        <div class="side-bar-item4">
            <img src="../Resources/icons8-course-assign-64.png" alt="" class="logo">
            <h5 class="poppins-regular side-bar-heading">Courses</h5>
        </div>
        <div class="side-bar-item5">
            <img src="../Resources/icons8-beeswax-50.png" alt="" class="logo">
            <h5 class="poppins-regular side-bar-heading">Virtual Reality</h5>
        </div>
        <div class="side-bar-item6">
            <img src="../Resources/icons8-male-user-50.png" alt="" class="logo">
            <h5 class="poppins-regular side-bar-heading">Profile</h5>
        </div>
    </div>
</body>

</html>